* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Century Gothic", sans-serif;
}

.navbar {
  border-bottom: 3px solid #31b6d5;
}

.navbar-nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.background {
  display:flex;
  justify-content: center;
  background-image: url("/images/knomi-mountain-woman-standing.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  padding-bottom: 70px;
}

.landing-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  width: 90%;
  color: #ffffff;
}

.logo {
  background: none;
  margin: 100px 100px 0px 100px;
  width: 70%;
}
/* .logo h1 {
  font-weight: 700;
} */
.logo h2 {
  font-style: italic;
  font-weight: bold;
}

.button {
  margin: 15px;
  border: 3px solid #31b6d5;
  border-radius: 7px;
  background-color: #5bd4ff;
  padding: 2px;
  font-weight: 500;
  display:flex;
  width: 200px;
  justify-content: center;
}

.button p {
  margin-bottom: 0px;
}


.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 240px; /* Set the width of the sidebar */
  /* position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  padding-bottom: 20px;
  border-right: 4px solid #ffa81d;
  background-color: #f8f9fa;
}

.sidenav a {
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
}

.interactive-window {
  width: 80%;
  height: auto;
  background-color: #e0e0e0;
  color: #949494;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.page {
  width: 90%;
  margin: 10px 10% 40px 10%;
}

.my-knowmi {
  display: flex;
  height: 800px;
  align-items: stretch;
  background-color: #e0e0e0;
  width: 100%;
  margin: 0;
}

.content {
  display: flex;
  flex-wrap:wrap;
  justify-content: flex-start
}

.content-text {
  width: 45%;
  height: auto;
  padding: 10px;

}

.content-border {
  padding: 5%;
  border-left: 3px solid #ffa81d;
}


.image-border {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  margin: 5px;
  width: 40%;
  height: 100%;
  border: 1px solid #5bd4ff;
}



footer {
  position: fixed;
  border-top: 3px solid #31b6d5;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f8f9fa;
  padding: 10px;
}
footer p {
  margin: 0;
  font-style: italic;
  font-size: 10px;
}
